.contact {
  height: 100vh;
  position: relative;
}

.c-bg {
  width: 20px;
  height: 100%;
  background-color: forestgreen;
  position: absolute;
}

.contact-wrapper {
  display: flex;
  padding: 0px 50px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.contact-left {
  flex: 1;
}

.contact-right {
  flex: 1;
  padding: 10px;
}

.contact-title {
  font-size: 60px;
  width: 80%;
}

.contact-info-item {
  display: flex;
  align-items: center;
  padding: 2px 2px;
  width: 70%;
  margin: 10px 0px;
}

.contact-info-icon {
  width: 30px;
  height: 30px;
  margin: 10px 10px;
}

.contact-desc {
  font-weight: 200;
  font-size: 16px;
}

form {
  margin-top: 10px;
}

input {
  width: 50%;
  height: 50px;
  padding: 10px 10px;
  border: none;
  border-bottom: 1px solid black;
  margin: 10px 0px;
  font-size: 14px;
  outline-color: black;
}

textarea {
  width: 70%;
  margin: 20px 0px;
  font-size: 14px;
  outline-color: black;
}

button {
  font-weight: 500;
  background-color: green;
  text-align: center;
  color: white;
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  border-width: 1px;
  cursor: pointer;
}
